<!-- Sidebar -->
<div id="sidebar">
    <div class="inner">

        <!-- Search 
            <section id="search" class="alt">
                <form method="post" action="#">
                    <input type="text" name="query" id="query" placeholder="Search" />
                </form>
            </section>
        -->

        <!-- Menu -->
            <nav id="menu">
                <header class="major">
                    <h2>Menu</h2>
                </header>
                <ul>
                    
                    {% for item in site.data.sidemenu %}
                    <li>
                        {% if item.sub == null %}
                            <a href="{{ item.link | prepend: site.baseurl }}">{{ item.name }}</a>
                        {% else %}
                            <span class="opener">{{ item.name }}</span>
                            <ul>
                            {% for sub_item in item.sub %}
                                <li><a href="{{ sub_item.link | prepend: site.baseurl }}">{{ sub_item.name }}</a></li>
                            {% endfor %}
                            </ul> 
                        {% endif %}
                    </li>
                    {% endfor %}
                </ul>
            </nav>

        <!-- Section -->
            <section>
                <header class="major">
                    <h2>Get in touch</h2>
                </header>
                <p>Sed varius enim lorem ullamcorper dolore aliquam aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore. Proin sed aliquam facilisis ante interdum. Sed nulla amet lorem feugiat tempus aliquam.</p>
                <ul class="contact">
                    <li class="icon solid fa-envelope"><a href="#">thinpig1130@gmail.com</a></li>
                    <li class="icon solid fa-phone"> 010-4191-6663 </li>
                    <li class="icon solid fa-home">160, Doum 3-ro Sejong-si, <br /> Republic of Korea <br />
                    Zip code 300-64</li>
                </ul>
            </section>

        <!-- Footer -->
            <footer id="footer">
                <p class="copyright">&copy; Untitled. All rights reserved. Demo Images: <a href="https://unsplash.com">Unsplash</a>. Design: <a href="https://html5up.net">HTML5 UP</a>.</p>
            </footer>
    </div>
</div>